// цвета
$background-color--header: #1f2937
$background-color--body: #f7f3ea
$portal-color: #7bb94d

// отступы
$padding-main: 20px

// медиа запросы
$breakpoint-mobile: 480px
$breakpoint-tablet: 768px
$breakpoint-laptop: 1024px
$breakpoint-desktop: 1280px