@use '_reset'
@use '_variables' as vars
@use '../components/header/_header'
@use '../components/search-form/_search-form'
@use '../components/search-results/characters/_characters'
@use '../components/search-results/characters/modal/_characterModal'
@use '../components/search-results/locations/_locations'
@use '../components/search-results/locations/modal/_locationModal'
@use '../components/search-results/episodes/_episodes'
@use '../components/search-results/episodes/modal/_episodesModal'

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700&display=swap")

body
    background-color: vars.$background-color--body
    font-family: "Inter", sans-serif
    font-weight: 300

h1,
h2,
h3,
button,
nav
  font-family: "Poppins", sans-serif
  font-weight: 500

main
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 30px

    padding: vars.$padding-main